@color: #3a9eb6;
@color_hover: #c0392b;
.myColor { color: @color; }

* {
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	text-rendering: optimizeLegibility;
	font-family:'Lato', Helvetica, Arial, sans-serif;
	background: #242222 ;
	color:#EEE ;
}

hr{
	border-top: none;
	border-bottom: 1px solid #BDBDBD;
	width: 200px;
	margin: 40px auto 30px;
}

.centered{
	margin:auto;
	text-align: center;
}

/* ----------  Buttons ----------- */


.btn.btn-primary{
	background-color: @color;
}

.btn.btn-primary.active,
.btn.btn-primary.active:hover{
	background-color: fadeout(darken(@color,7%),10%);
}

.btn.btn-primary:hover{
	background-color: fadeout(lighten(@color,7%),10%);
}
.btn i.icon-large:before{
	vertical-align: 10% !important;
	line-height: 1em !important;
}


/* ----------  Typo ----------- */

::-moz-selection {
	background-color: rgba(255,255,255, 0.2);
}

::selection {
	background-color: rgba(255,255,255, 0.2);
}


h1{
	font-size:48px;
	font-weight: 300;
	margin:50px 0 50px;
	color:#fff;
}


h2{
	font-size:28px;
	font-weight: 500;
	color:#fff;
	margin:30px 0 20px;
}

h3{
	font-size:24px;
	font-weight: 500;
	color:#fff;
}

h4{
	font-size:18px;
	font-weight: 500;
}

li,p{
	font-size:20px;
	font-weight: 300;
	line-height: 1.8;
}

p{
	margin:16px 0;
}

blockquote{
	font-family: Georgia, Times, serif;
	background: fadeout(#1c2125,60%);
	font-style: italic;
	font-size: 22px;
	font-weight: 300;
	border-left: 5px solid @color;
	padding: 1px 5px 15px 15px !important;
}

a,
a:active,
a:hover,
a:link {
	color: @color;
	text-decoration: none;
	font-weight: 300;
}

a:hover{
	border-bottom: 1px solid @color;
}

a.anchor{
	display: none;
}

a.back{
	position:absolute;
	padding:6px 6px 4px 4px;
	left:15px;
}

a.back:hover{
	border:none;
}

/* ----------  Misc ----------- */

.avatar {
	text-align: center;
	transition: .5s;
	-webkit-transition: .5s;
	transition-property: all;
	-webkit-transition-property: all;
}

.avatar img{
	transform:rotate(28deg);
	-ms-transform:rotate(28deg); /* IE 9 */
	-webkit-transform:rotate(28deg); /* Safari and Chrome */
	width: 150px;
	height: 150px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

/* ----------  Layout ----------- */

#page{
	min-height: 100%;
	position: relative;
}

.container{
	max-width: 880px;
}

#topline{
	height:30px;
}

/* Header */

#header{
	background:#242222 url("../images/bg.png") no-repeat;
	background-size: 100%; /* Always size the image to the width of the div */
	text-align: center;
	padding:160px 0px 140px;
	background-attachment: fixed;
	margin-bottom:-40px;
}

#header.secondary{
	padding:50px 0px 50px;
}

#header h1{
	font-size:60px;
	color:#fff;
	font-weight: bold;
	padding:50px 0px 0px;
	margin:0;
}

#header.secondary h1{
	font-weight: 200;
}

#header h2{
	color:@color;
	background-color: rgba(0,0,0,.7);
	display:block;
	width:200px;
	margin: 40px auto 40px;
	border-radius: 10px;
	padding:2px 2px 4px;
	font-weight: 300;
	font-variant: italic;
}

#header ul.social {
	margin:0;
	padding:0;
}

#header ul.social li{
	display:inline;
	padding:30px;
}

#header ul.social li a{
	font-size:35px;
	color:#fff;
	opacity:0.7;
}

#header ul.social li a:hover{
	text-decoration: none;
	border:0;
	opacity:1;
}

#logo{
	position: absolute;
	margin:40px 0px;
	opacity: 0.2;
	cursor: pointer;

	transition: .5s;
	-webkit-transition: .5s;
	transition-property: opacity;
	-webkit-transition-property: opacity;
}

.container #logo.not_home{
	opacity: 1;
}

/* Menu */
.btn-toolbar{
	width:100%;
	background-color: fadeout(@color,10%);
	text-align: center;
	padding: 0;
	position:fixed;
	z-index: 9999;
	margin:0;
}

.btn-toolbar a{
	color : #fff;
	opacity:#;
}

.btn-toolbar a:hover,
.btn-toolbar a.active{
	border-bottom: 0;
	opacity:1;
}

.btn.btn-primary{
	background-color: fadeout(@color,90%);
}

.btn-group{
	min-width:213px;
	height:auto;
	margin:0 auto;
}

.btn-group > .btn:first-of-type,
.btn-group > .btn:last-of-type {
	border-radius: 0;
}

/* Main */

#main{
	padding-top:40px;
	padding-bottom: 120px;
	perspective: 600px;
	perspective-origin: 50% 50%;
	-webkit-perspective: 600px;
	-webkit-perspective-origin: 50% 50%;
}

#main .container{
	padding:0 20px;
}

/* me */

ul.apps{
	text-align:center;
	list-style-type: none;
	padding: 0px;
	margin:0;
	width:auto;
}

ul.apps li{
	display: inline-block;
	margin: 20px;
}

img.icon{
	width: 72px;
    height: 72px;

    border-radius:18px;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
}

/* Lab */

ul.lab{
	list-style-type: square;
}

/* Scribbles */

ul.scribbles,
ul.dribbbles {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.scribbles li,
ul.dribbbles li{
	padding : 12px 0;
}

ul.scribbles span{
	position: absolute;
	text-align: right;
	width: 70px;
	display: block;
	padding-top: 4px;
}

ul.scribbles li a.btn{
	font-size: 20px;
	background:rgba(255,255,255,0.1);
	padding: 8px 15px;
	margin-left: 90px;
	text-align: left;
	color:#ECF0F1 ;
	border-radius: 5px;
}

ul.scribbles li a.btn:hover{
	background: @color;
	border: none;
}


.scribble{
	max-width: 780px;
	padding:0 40px;
	margin:auto;
}

.scribble img{
	max-height: 550px;
	margin: auto;
}

.scribble h1{
	font-size:42px;
	font-weight: 500;
	margin:20px 0 30px;
}

.article-content h2{
	font-size:38px;
	margin-top:50px;
}

.article-content h3{
	padding:20px 0 0 20px;
}

.article-content em{
	font-weight: 200;
}

/* Scribble content */

.article-footer{
	padding-top: 20px;
	background: none;
}

.sharing{
	width: 100px;
	background: none;
	float : right;
}

.sharing a{
	color: #AAA;
	text-decoration: none;
	border:none;
	cursor: pointer;
	border-radius: 0px;
	padding: 10px;
}

.sharing a:hover{
	color: #333;
	background: none;
}


/* Footer */

#footer{
	width:100%;
	height:60px;
	position:absolute;
	bottom: 0;
}

#holder{
	width:150px;
	height:25px;
	margin:25px auto 10px;
}

/* ------------------- Mobile CSS ------------------------*/

@media (max-width: 740px) {


	/* typo */
	h1{
		font-size:38px;
		margin-top:10px;
		margin-bottom:20px;
	}

	h2{
		font-size:24px;
		margin:20px 0 10px;
	}

	li,p{
		font-size:15px;
		font-weight: 300;
	}

	blockquote{
		font-family: Georgia,'Times New Roman', Times, serif;
		font-style: italic;
		font-size: 18px;
	}

	a.back{
		position: relative;
	}

	#header{
		margin-bottom:-40px;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		padding:60px 0px 40px;
	}

	#header.secondary{
		padding:20px 0px 20px;
	}

	#header h1{
		font-size:38px;
	}

	#header h2{
		font-size:22px;
		margin: 20px auto 40px;
	}

	#header ul.social li {
		padding:20px;
	}

	#header ul.social li a{
		font-size:20px;
		color:#fff;
		opacity:0.7;
	}

	ul.apps{
		width:auto;
	}

	ul.apps li{
		display: inline-block;
		margin: 14px;
	}

	/* layout */

	.container #logo{
		display: none;
	}

	#main{
		padding-top: 40px;
		padding-bottom: 30px;
	}

	#main .container{
		padding:10px 10px 30px;
	}

	.scribble{
		width: auto;
		margin:auto;
		padding: 0;
	}

	.sharing a:hover{
		color: #EEE;
		background: none;
	}


	/* Scribbles */
	ul.scribbles li a.btn{
		font-size:16px;
		padding: 6px 14px;
		font-weight: 300;
		margin-left: 70px;
	}

	ul.scribbles span{
		width: 60px;
	}

	
	.scribble h1{
		font-size: 38px;
	}

	.article-content h2{
		font-size: 30px;
	}


	.article-content h3{
		font-size: 18px;
		line-height: 1.4em;
	}
}
