<div id="header" class="secondary">
  <div class="container">
    <h1 class="animate from-left" ng-class="{trigger: true}">/contact</h1>
  </div>
</div>

<div id="main">
	<div class="container">
<!--		<h2 class="animate from-right" ng-class="{trigger: true}">Contact</h2>  -->
			<h2></h2>
		<div class="content animate from-right" ng-class="{trigger: true}">
		    <p>Write me an <a href="mailto:hei@knutinge.com">email</a></p>
		    <p>or give me a call on +46 (0) 736 598694</p>

		</div>
<!--
		<h2 class="animate from-right" ng-class="{trigger: true}">Acknowledgments</h2>
		<div class="content animate from-right" ng-class="{trigger: true}">
			<p>Here is a list of the libraries and services this website relies on.</p>
			<ul>
				<li><a href="http://angularjs.org/" target="_blank">AngularJS</a>, the framework on which this site was built</li>
				<li><a href="http://jquery.com/" target="_blank">JQuery</a></li>
				<li><a href="http://raphaeljs.com/" target="_blank">RaphaelJS</a></li>
				<li><a href="http://lesscss.org/" target="_blank">LessCSS</a></li>
				<li><a href="http://github.com/" target="_blank">Github</a>, for hosting and markdown parsing</li>
			</ul>
		</div>
-->
	</div>
</div>