<div id="header" class="secondary">
  <div class="container">
    <h1 class="animate from-left" ng-class="{trigger: true}">/contact</h1>
  </div>
</div>

<div id="main">
	<div class="container">
		<div class="content animate from-right" ng-class="{trigger: true}">
			<h2></h2>
		    <form action="//formspree.io/hei@knutinge.com" method="POST">
				<input type="hidden" name="_subject" value="From Cocmoc Website" />
				<input type="text" name="name" placeholder="Your name"><br />
				<input type="email" name="_replyto" placeholder="Your email"><br />
				<textarea name="message" rows="5" placeholder="Your message"></textarea><br />
				<input type="submit" value="Send"><br />
				<input type="text" name="_gotcha" style="display:none" />
			</form> 

		    <p>Send me a message or give me a call on +46 (0) 736 598694</p>

		</div>

	</div>
</div>