
<div id="header">
  <div class="container">
    <h1 class="animate from-right" ng-class="{trigger: true}">Knut Inge Grösland</h1>
    <h2 class="animate from-left" ng-class="{trigger: true}">[iOS developer]</h2>
    <ul class="social">
		<li><a href="{{perso.twitter}}" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
		<li><a href="{{perso.github}}" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
    </ul>
  </div>
</div>

<div id="main">
	<div class="container">
		<h2 style="text-align:center" class="animate from-right" ng-class="{trigger: true}">About me</h2>
		<div class="content animate from-right" ng-class="{trigger: true}" ng-controller="WorkController">
			<p>I am a software developer with specialization on iPhone, iPad and OSX platforms. My competences include Objective-C, Swift, Game development, Debugging, Unit Testing and Git. I am a teamplayer and  posess solid experience collaborating in international teams working remotely and using agile methods.  
			</p>
			<p>I'm currently working as iOS developer at <a href="http://foap.com"  target="_blank">Foap</a>.</p>
			
			<h2 style="text-align:center" class="animate from-right" ng-class="{trigger: true}">My Apps</h2>

			<ul class="apps">
				<li data-ng-repeat="app in lab_data[0].content | limitTo:6 " class="animate from-right" ng-class="{trigger: true}" >
					<a class="nopadding" ng-href="{{app.url}}" target="_blank"><img class="icon" ng-src="{{app.image}}" ng-alt="{{app.name}}"></img></a>
				</li>
				<li data-ng-repeat="app in lab_data[1].content | limitTo:6 " class="animate from-right" ng-class="{trigger: true}" >
					<a class="nopadding" ng-href="{{app.url}}" target="_blank"><img class="icon" ng-src="{{app.image}}" ng-alt="{{app.name}}"></img></a>
				</li>
			</ul>
		</div>
		
	</div>
</div>
